{
  "log": {
    "_recordingName": "buildClusterResourcesRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "097af2a339942cf97c0387f00a9e65ed",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            }
          ],
          "url": "https://myaksclust-k8sgroup-193f89-c10b0202.hcp.eastus.azmk8s.io/api/v1/namespaces?limit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2447,
            "text": "{\"kind\":\"NamespaceList\",\"apiVersion\":\"v1\",\"metadata\":{\"resourceVersion\":\"206729\"},\"items\":[{\"metadata\":{\"name\":\"default\",\"uid\":\"028a7e13-826e-4675-be99-c4dce36b3852\",\"resourceVersion\":\"198\",\"creationTimestamp\":\"2021-10-18T14:59:15Z\",\"managedFields\":[{\"manager\":\"kube-apiserver\",\"operation\":\"Update\",\"apiVersion\":\"v1\",\"time\":\"2021-10-18T14:59:15Z\",\"fieldsType\":\"FieldsV1\",\"fieldsV1\":{\"f:status\":{\"f:phase\":{}}}}]},\"spec\":{\"finalizers\":[\"kubernetes\"]},\"status\":{\"phase\":\"Active\"}},{\"metadata\":{\"name\":\"kube-node-lease\",\"uid\":\"0e7b2874-31f2-476f-b350-f7978ddfddc7\",\"resourceVersion\":\"60\",\"creationTimestamp\":\"2021-10-18T14:59:12Z\",\"managedFields\":[{\"manager\":\"kube-apiserver\",\"operation\":\"Update\",\"apiVersion\":\"v1\",\"time\":\"2021-10-18T14:59:12Z\",\"fieldsType\":\"FieldsV1\",\"fieldsV1\":{\"f:status\":{\"f:phase\":{}}}}]},\"spec\":{\"finalizers\":[\"kubernetes\"]},\"status\":{\"phase\":\"Active\"}},{\"metadata\":{\"name\":\"kube-public\",\"uid\":\"3e35998d-d074-4138-ae04-400deb406306\",\"resourceVersion\":\"43\",\"creationTimestamp\":\"2021-10-18T14:59:12Z\",\"managedFields\":[{\"manager\":\"kube-apiserver\",\"operation\":\"Update\",\"apiVersion\":\"v1\",\"time\":\"2021-10-18T14:59:12Z\",\"fieldsType\":\"FieldsV1\",\"fieldsV1\":{\"f:status\":{\"f:phase\":{}}}}]},\"spec\":{\"finalizers\":[\"kubernetes\"]},\"status\":{\"phase\":\"Active\"}},{\"metadata\":{\"name\":\"kube-system\",\"uid\":\"7ecdb996-e21c-4c37-9ba8-62380b8d8399\",\"resourceVersion\":\"416\",\"creationTimestamp\":\"2021-10-18T14:59:12Z\",\"labels\":{\"addonmanager.kubernetes.io/mode\":\"Reconcile\",\"control-plane\":\"true\",\"kubernetes.io/cluster-service\":\"true\"},\"annotations\":{\"kubectl.kubernetes.io/last-applied-configuration\":\"{\\\"apiVersion\\\":\\\"v1\\\",\\\"kind\\\":\\\"Namespace\\\",\\\"metadata\\\":{\\\"annotations\\\":{},\\\"labels\\\":{\\\"addonmanager.kubernetes.io/mode\\\":\\\"Reconcile\\\",\\\"control-plane\\\":\\\"true\\\",\\\"kubernetes.io/cluster-service\\\":\\\"true\\\"},\\\"name\\\":\\\"kube-system\\\"}}\\n\"},\"managedFields\":[{\"manager\":\"kube-apiserver\",\"operation\":\"Update\",\"apiVersion\":\"v1\",\"time\":\"2021-10-18T14:59:12Z\",\"field[...]
